@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html,body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
#app {
    height: 100%;
    background: #010920;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 15px;
}

@media (max-width: 500px) {
    #app {
        .todo-list {
            width: 100%;
            .first-block {
                width: 93%;
            }
            .second-block {
                width: 82%;
            }
            .card {
                width: 100%;
            }
        }
    }
}
